.app {
    color: white;
    text-align: center;
    /* background: url("./assets/newimage2.jpg") fixed;
    background-color: #cccccc;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%; */
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    /* color: white; */
  }

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.title {
    margin: 50px;
    color: #282c34;
  }
  
  .crypto {
    margin: 10px;
    color: #282c34;
    text-align: start;
    width: auto;
  }

section {
    display: flex;
    flex-direction: column;
    width: 80%;
    text-align: center;
    margin: 10px auto;
  }

  .logo {
    height: 5em;
    width: 5em;
    margin: 1em;
    text-align: center;
  }

  .back-btn {
    position: relative;
    top: 2rem;
    left: 2rem
  }
  /* tabs */

  .tabs-content {
    margin-top: 4rem
  }

  /* description tab */

  ul {
    list-style-type: none;
    text-decoration: none
  }
  a {
    text-decoration: none;
  }
  .desc-content {
    align-items: center;
    margin: 20px auto
  }

  .desc-content h5 {
    padding-bottom: 2rem;
    text-transform: capitalize
  }
  .desc-text {
    padding: 3rem 2rem 2rem;
    font-size: 1.3rem;
   
  }

  /* chart tab */
  .chart-content {
    margin-top: 2rem
  }

  /* Stats Tab*/
  .stats  {
    margin: 3rem auto;
    text-align: center
  }

  .price-overview-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
  }

  @media screen and (min-width: 992px) {
      section {
          flex-direction: row;
          width: 60%;
          justify-content: space-between;
          align-items: center
      }
  }